body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  height: 100px;
  width: 100%;
  /* background-color: #4776b9; */
  background: linear-gradient(90deg, rgba(20,65,130,1) 16%, rgba(71,118,185,1) 89%);
  display: flex;
  justify-content: center;

}

.headerBlock {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.wrap_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}

.wrap_main {
  display: flex;
  justify-content: center;
}

.main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main_cardBlock {
  width: 85%;
  height: 100%;
}

.card {
  border: 1px solid grey;
  margin: 3% 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrap_cardMainText {
  display: flex;
  justify-content: space-between;
  background-color: #88afdd;
  color: #040615;
  padding: 1% 2%;
}

.cardMainText, .priceCard {
  font-weight: bold;
  font-size: 1.2rem;
}

.cardText {
  padding: 1% 2%;
}

.imgHeartCard {
  height: 11px;
}

.main_filterBlock {
  border: 1px solid grey;
  height: 100%;
}

.footer {
  background: linear-gradient(261deg, rgba(20,65,130,1) 16%, rgba(71,118,185,1) 89%);
  height: 100px;
  width: 100%;
}