body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app_wrapper {
  height: 100%;
  width: 100%;
/*   display: flex;
  flex-direction: column;
  justify-content: space-between; */
}


.header {
  height: 100px;
  width: 100%;
  background: linear-gradient(90deg, rgba(20,65,130,1) 16%, rgba(71,118,185,1) 89%);
  display: flex;
  justify-content: center;

}

.headerBlock {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.wrap_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}

.wrap_main {
  display: flex;
  justify-content: center;
}

.main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main_cardBlock {
  width: 75%;
  height: 100%;
}

.card {
  border: 1px solid grey;
  margin: 3% 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 4px;
  background-color: #ecebf0;
}

.card:hover {
  box-shadow:
    1px 1px #4776b9,
    2px 2px #4776b9,
    3px 3px #4776b9;
    
   
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.wrap_cardMainText {
  display: flex;
  justify-content: space-between;
  background-color: #88afdd;
  color: #040615;
  padding: 1% 2%;
}

.cardMainText, .priceCard {
  font-weight: bold;
  font-size: 1.2rem;
}

.cardText {
  padding: 1% 2%;
  font-size: 1.2rem;
  
}

.dateTime {
  padding: 1% 2%;
}

.wrapHeartAndTags {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
}

.wrapTags {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
}

.tag {
  margin-right: 5%;
}

.btnHeartCard {
  margin-right: 2%;
  
 
}

.imgHeartCard {
  height: 13px;
  
}

.main_filterBlock {
  border-radius: 4px;
  height: 82%;
  width: 15.5%;
  margin: 2% 0;
  background-color: #ecebf0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: inline-block;
  position: fixed;
  margin-left: 65%;  
}

.blockIN_main_filterBlock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  margin: 3% 0;
  border: 1px solid grey;
  padding: 2% 8%;
  background: linear-gradient(184deg, rgba(20,65,130,1) 5%, rgba(136,175,221,1) 83%);
  
  color: white;
}

.footer {
  background: linear-gradient(261deg, rgba(20,65,130,1) 16%, rgba(71,118,185,1) 89%);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}