body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  border: 1px solid grey;
  height: 100px;
  width: 100%;
}

.main {
  border: 1px solid grey;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.main_cardBlock {
  border: 1px solid grey;
  width: 70%;
  height: 100%;
}

.main_filterBlock {
  border: 1px solid grey;
  height: 100%;
}

.footer {
  border: 1px solid grey;
  height: 100px;
  width: 100%;
}